/*------------------------------------*\
  fonts / settings
\*------------------------------------*/

$ff-title: 'Rubik', sans-serif;
$ff-txt: 'Nunito Sans', sans-serif;

h1,
h2,
h3 {
	margin-top: 10px;
	font-family: $ff-title;
}
p,
a,
form {
	margin-top: 10px;
	font-family: $ff-txt;
}