/*------------------------------------*\
  bloc-text-img / components
\*------------------------------------*/

.text-img--promo {
	display: flex;
	>div {
		margin-top: 120px;
		height: 390px;
		flex-basis: calc(100% / 2 - 40px);
		padding: 50px;
		position: relative;
		text-align: center;
	}
}

.text-img--fiches {
	>section {
		align-items: stretch;
		background-color: $clr-contain;
		color: $clr-bg;
		flex-basis: calc(100% / 3 - var(--rythm-m));
		margin-bottom: var(--rythm-l);
		margin-top: var(--rythm-m);
		padding: 50px;
		a {
			color: $clr-bg;
		}
		dl {
			color: $clr-bg;
			display: flex;
			justify-content: space-between;
			padding-top: 8px;
		}
		h2 {
			border-top: none;
			color: $clr-bg;
		}
		h3 {
			color: $clr-bg;
			margin-bottom: 10px;
		}
		p {
			color: $clr-bg;
			margin-bottom: 15px;
			font-size: 0.85rem;
		}
		&:nth-of-type(1) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&:nth-of-type(2) {
			>h2 {
				margin-bottom: 30px;
				text-align: center;
			}
		}
		&:nth-of-type(3) {
			>p {
				margin-top: 0px;
			}
		}	
	}
	margin-top:  var(--rythm-m-neg);
	margin-bottom: var(--rythm-m);
}

.text-img--border-top {
	border-top: solid rgba(0, 0, 0, 0.1) 2px;
	padding-top: var(--rythm-s);
	.flex-6rows {
		>* {
			flex-basis: calc((100% / 4) - var(--rythm-s));
		}
	}
	@media all and (min-width: 1414px) {
		.flex-6rows {
			>* {
				flex-basis: calc((100% / 6) - var(--rythm-s));
			}
		}
	}
}

.text-img--card-promotion {
	display: flex;
	flex-direction: column;
	.img-box {
		height: max(100%, 80vmin);
		margin-top: auto;
		img {
			object-fit: cover;
			height: 100%;
		}
	}
	p {
		margin: calc(var(--marg-resp-s) / 3) 0;
	}
	.flex-1thrd {
		h2 {
			margin-bottom: calc(var(--marg-resp-s) / 2);
		}
	}
}

.text-img--contact {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	min-width: 16rem;
	padding: var(--rythm-m);
	div {
		align-items: center;
		display: flex;
		flex-direction: column;
		>* {
			+ {
				* {
					margin: calc(var(--marg-resp-s) / 3);
				}
			}
		}
	}
	form {
		>* {
			+ {
				* {
					margin: 10px;
				}
			}
		}
	}
	h3, p, a {
		color: $clr-bg;
	}
}

.text-img__champ_adresse {
	border-radius: 6px;
	border: none;
	padding: 6px 6px;
}

.text-img__link-box {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	color: $clr-bg;
	display: flex;
	font-size: calc(18px + 0.8vw);
	justify-content: center;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	transition: opacity 0.3s ease-out;
	&:hover {
		opacity: 1;
	}
	&:focus {
		opacity: 1;
	}
	&:active {
		color: rgba(255, 255, 255, 0.7);
	}
}




