/*------------------------------------*\
  button / components
\*------------------------------------*/

.btn {
	background-color: transparent;
	border-radius: 6px;
	border: 1px $clr-bg solid;
	display: inline-block;
	color: $clr-bg;
	padding: 6px 16px;
	text-align: center;
	&:hover {
		background-color: $clr-link;
		cursor: pointer;
		text-decoration: underline;
	}
	&:active {
		text-decoration: none;
		opacity: 80%;
	}
}










  
  
  
  



