/*------------------------------------*\
  footer / components
\*------------------------------------*/

footer {
	background-color: $clr-bgSec;
	color: white;
	margin-top: var(--marg-resp-m);
	a {
		color: $clr-bg;
		&:hover {
			color: $clr-link;
		}
	}
	>div {
		padding: var(--rythm-s) var(--rythm-l);
	}
	.flex-2thrd {
		margin-top: 0;
	}		
	li {
		list-style-type: none;
	}
}

.footer__logo {
	justify-content: center;
	img {
		width: var(--marg-resp-m);
		object-fit: contain;
	}
}
