/*------------------------------------*\
  grid / components
\*------------------------------------*/

.flex {
	align-items: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: inherit;
	margin-top: var(--marg-resp-s-neg);
	margin-left: var(--rythm-s-neg);
	overflow: hidden;
	>* {
		flex-grow: 1;
		margin-top: var(--marg-resp-s);
		margin-left: var(--rythm-s);
	}
	img {
		display: block;
		min-width: 190px;
	}
}

.column {
	flex-direction: column;
}

.flex-1half {
	flex-basis: calc((100% / 2) - var(--rythm-s));
	&.text-img--contact {
		background-color: $clr-containSec;
	}
}

.flex-1thrd {
	flex-basis: calc((100% / 3) - var(--rythm-s));
	&.text-img--contact {
		background-color: $clr-containSec;
	}
}

.flex-2thrd {
	flex-basis: calc((100% * 2 / 3) - var(--rythm-s));
	&.text-img--contact {
		background-color: $clr-contain;
	}
}

.flex-6rows {
	>* {
		flex-basis: calc((100% / 6) - var(--rythm-s));
	}
}