.hidden {
	display: none;
}

.disabled {
	color: red;
	pointer-events: none;
}
  
.disabled button {
	opacity: 0.4;
}

.endPlay {
	color: red;
	pointer-events: none;
}

.endPlay button {
	opacity: 0.4;
}
  









