/*------------------------------------*\
  link / elements
\*------------------------------------*/

a {
	color: black;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		text-decoration: none;
		opacity: 80%;
	}
}


