/*------------------------------------*\
  colors / settings
\*------------------------------------*/


$clr-contain: #5D707F;
$clr-containSec: #6D8A96;
$clr-link: #78BC61;
$clr-bg: #ffffff;
$clr-bgSec: #0c0c0c;

main {
	background-color: $clr-bg;
}

section h3, section p {
	color: $clr-bgSec;
}
