/*------------------------------------*\
  wrapper / objects
\*------------------------------------*/

.wrapper {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: var(--marg-resp-m);
	& > h2 {
		margin-bottom: var(--marg-resp-s);
	}
}

.wrapper-prototype {
	margin-bottom: var(--rythm-l);
	& > h2 {
		margin-bottom: var(--marg-resp-s);
	}
	p {
		font-size: 0.85rem;
		margin-top: var(--rythm-m);
		margin-bottom: var(--rythm-m);
	}
}

.wrapper-header {
	justify-content: center;
	text-align: center;
	img {
		z-index: -1;
		max-height: 600px;
	}
}